name: 'Test'
on:
  push:
    branches:
      - 'main'
      - 'ci-test'
  pull_request:
    branches:
      - 'main'

jobs:
  build-and-test:
    name: 'Test'
    strategy:
      matrix:
        os:
          - 'macos-13'
#          - 'macos-14'
#          - 'macos-15'
        swift-version: ['5.7.2']
    runs-on: "${{ matrix.os }}"
    steps:
      - name: 'Setup Swift'
        uses: 'swift-actions/setup-swift@7ca6abe6b3b0e8b5421b88be48feee39cbf52c6a'
        with:
          swift-version: "${{ matrix.swift-version }}"
      - name: 'Select Xcode Command Line Tools'
        run: |
          if [[ "${{ matrix.os }}" == 'macos-13' ]]; then
            sudo xcode-select --switch /Applications/Xcode_14.2.app/Contents/Developer
          else
            echo 'Choosing the default Xcode Command Line Tools'
          fi
      - name: 'Checkout'
        uses: 'actions/checkout@v6'
      - name: 'Initialize a new package'
        run: 'swift package init --type executable'
      - name: 'Run tests'
        run: 'swift test'
